/* .textinput.textInput.form-control,
.numberinput.form-control,
.textinput.textInput.form-control {
    font-size: 12px !important;
  } */
div.controls-group {
  min-width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
